#resume-wrapper {
    min-width: 100vw;
    min-height: 100vh;
}

.page {
    min-width: 100vw;
    min-height: 70vh;

    @media only screen and (min-width: $min-tabpro-width +1){
        margin-top: 2.2em;
        padding-top: .5em;
    }

    @media only screen and (max-width: $min-tabpro-width){
        margin-top: 2.1em;
        padding-top: .5em;
    }
    
    @media only screen and (max-width: $min-tab-width){
        margin-top: 3.3em;
        padding-top: 0;
    }
}

.search-button:hover {
    background-color: blue;
}

@import 'navbar.scss';
@import 'homepage.scss';
@import 'hometabs.scss';
@import 'searchTab.scss';
@import 'quickSearch.scss';
@import 'searchResults.scss';
@import 'loginButton.scss';
@import 'result.scss';
@import 'featuredTab.scss';
@import "footerMain.scss";
@import "./projects.scss";
@import "./profile.scss";