#resume-wrapper {
    min-width: 100vw;
    min-height: 100vh;
}

.page {
    margin-top: 78px;
}

.search-button:hover {
    background-color: blue;
}

@import 'navbar.scss';
@import 'homepage.scss';
@import 'hometabs.scss';
@import 'searchTab.scss';
@import 'quickSearch.scss';
