#resume-wrapper {
    min-width: 100vw;
    min-height: 200vh;
}

.page {
    margin-top: 68px;
}

.search-button:hover {
    background-color: blue;
}

@import 'navbar.scss';
@import 'homepage.scss';
